<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- use ajex to fetch the header.html -->
    <!-- use ajex to fetch the login.html below the header.html -->
    <!-- use ajex to fetch the footer.html below the login.html -->


    <div id="header-placeholder" class="sticky-top"></div>
    <div id="login-placeholder"></div>
    <div id="footer-placeholder"></div>
    
    <script src="../components/login.js"></script>
</body>
</html>